TOKEN="YOUR_TOKEN"
OWNER="YOUR_USER_ID"
DEV_ERROR_CHANNEL_ID="YOUR_CHANNEL_ID"
TOPGG_TOKEN="YOUR_TOPGG_TOKEN"
ENABLE_MEDIA_FETCHING="false"
TATSU_TOKEN="YOUR_TATSU_TOKEN"
DATABASE_URL="postgres://user:pass@localhost:5432/dbname"
